/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/06/2015, 09:32:55
    Author     : rm73131
*/

table {

    margin: 0;
    padding: 0;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica, Arial", "Lucida Grande", "sans-serif";
    font-size:12pt;
    color:#FFC125;


    background-color: rgba(255, 228, 181,0.3); //fundo do quadradinho de login


    width: 400px; 
    height: 150px; 
    left: 50%; 
    border: 1px solid #dedede; 
    border-radius: 10px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055); 


    margin: -15px 0 0 -210px; 
    padding:10px;
    position: absolute; 
    top: 50%; 

    alignment-adjust: central;


}